
.row{
  margin: 0;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.container{
  width: 100%;
}

.row .col{
  padding: 0px;
}

.profilis2{
  border-right: 3px solid grey;
}
.profilis1 img{
  width: 100%;
}

.profilis2 img{
  width: 100%;
}
